header{
    font-family: 'Poppins';
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 50px 0 70px;
    width: 100%;
    box-sizing: border-box;
    z-index: 1;
    position: fixed;
}
header .logo{
    height: 10vh;
    line-height: 10vh;
    float: left;
}
.logo img{
    margin-top: 5px;
    padding-top: 5px;
}
header nav{
    float: right;
}
header nav ul{
    margin: 0;
    padding: 0;
    display: flex;
}
header nav ul li{
    list-style: none;
}
header nav ul li a{
    height: 10vh;
    line-height: 10vh;
    padding: 0 40px;
    text-decoration: none;
    display: block;
    cursor: pointer;
    font-size: 20px;
    color: black;
}
/*

.burger{
    display: none;
    cursor: pointer;
}
.burger div{
    width: 25px;
    height: 3px;
    margin: 5px;
    transition: all 0.3s ease;
} */