<header>
    <div class="logo">
        <a  routerLink="/">  <img src="assets/img/logo.png" height="100px" alt="logo">   </a> 
    </div>

    <nav>
        
        <ul class="nav-links">
           <!--  <li>
                <a routerLink="/quienes-somos">¿Quíenes somos?</a>
            </li>
            <li>
                <a routerLink="/trabaja-con-nosotros">Trabaja con nosotros</a>
            </li>
            <li>
                <a routerLink="/premium">Premium</a>
            </li> -->
            <li>
                <a *ngIf="isLoggedIn; else registro">Reproductor Web</a>
                <ng-template #registro>
                    <a routerLink="/registro" (click)="switchNav('/registro')">Registrarse</a>
                </ng-template>
                
            </li>
            <li>
                <a *ngIf="isLoggedIn; else login">User</a>
                <ng-template #login>
                    <a routerLink="/loginUsuario" (click)="switchNav('/registro')">Iniciar Sesión</a>
                </ng-template>
                
            </li>
        </ul>
        
      
    
    </nav>
    <div class="burger">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
    </div>

</header>
