<header>
    <div class="logo">
        <a  routerLink="/">  <img src="assets/images/logo.png" height="100px" alt="logo">   </a> 
    </div>

    <nav>
        
        <ul class="nav-links">
            <li>
                <a routerLink="/quienes-somos">¿Quíenes somos?</a>
            </li>
            <li>
                <a routerLink="/trabaja-con-nosotros">Trabaja con nosotros</a>
            </li>
            <li>
                <a routerLink="/premium">Premium</a>
            </li>
            <li>
                <a routerLink="/registro" (click)="switchNav(1)">Registrarse</a>
            </li>
            <li>
                <a routerLink="/loginUsuario " (click)="switchNav(1)">Iniciar Sesión</a>
            </li>
        </ul>
        
      
    
    </nav>
    <div class="burger">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
    </div>

</header>
