
@font-face {
    font-family: PoppinsSemiBold;
    src: url(/assets/font/Poppins-SemiBold.ttf);
}
header{
    font-family: 'Poppins';
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 50px 0 70px;
    width: 100%;
    box-sizing: border-box;
    z-index: 1;
    position: fixed;
}
header .logo{
    height: 10vh;
    line-height: 10vh;
    float: left;
}
.logo img{
    margin-top: 5px;
    padding-top: 5px;
}
header nav{
    float: right;
}
header nav ul{
    margin: 0;
    padding: 0;
    display: flex;
}
header nav ul li{
    list-style: none;
}
header nav ul li a{
    font-size: '';
    height: 10vh;
    line-height: 10vh;
    padding: 0 40px;
    text-decoration: none;
    display: block;
    cursor: pointer;
    font-size: 20px;
    color: #95DBE5;
    font-family: PoppinsSemiBold;
}
/*

.burger{
    display: none;
    cursor: pointer;
}
.burger div{
    width: 25px;
    height: 3px;
    margin: 5px;
    transition: all 0.3s ease;
} */
.dropbtn {
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 0 !important;
    padding-left: 14px !important;
    height: 5vh !important;
    line-height: 5vh !important;
    
    text-decoration: none;
    display: block;
  }
  
  header nav ul li a:hover {
      color: white;
  }
  
  .dropdown:hover .dropdown-content {display: block;}
  