.main {
  width: 100vw;
  min-height: 100vh;
  background: rgb(20,29,51);
  background: linear-gradient(130deg, rgba(20,29,51,1) 0%, rgba(109,76,255,1) 71%);
}

.container {
  margin-right: 95px;
}

.new-form {
  margin-top: 80px;
  margin-bottom: 50px;
}
// layout de tabla

table {
  table-layout: fixed;
}

.acc,
.est,
.img,
.name {
  width: 15%;
}

div.bio {
  max-height: 120px;
}

.scrollable {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: auto;
}
