@font-face {
  font-family: PoppinsRegular;
  src: url(/assets/font/Poppins-Regular.ttf);
}
@font-face {
  font-family: PoppinsLight;
  src: url(/assets/font/Poppins-Light.ttf);
}
main{
  width: 100%;
  height: 100vh;
    // background: #95DBE5;
    background-image: linear-gradient(to top, #23b3b3 0%, #330867 100%);
}
.iniciar-sesion-container{
    position: absolute;
    display: flex;
    justify-content: space-between;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -34%);
    height: 60vh;
    width: 70%;
}
.form-container{
    height: 70vh;
    width: 60vh;

}
form{
  display: flex;
  margin: auto;
  width: 80%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  
}
.input-form{
  position: relative;
  overflow: hidden;
  height: 6vh;
  width: 80%;
}
.input-form input {
  width: 100%;
  height: 100%;
  padding-top: 11px;
  border: none;
  outline: none;
  background-color: transparent;
  color: lightblue;
  font-size: 20px;
  font-family: PoppinsLight;
  
}
.input-form label{
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-bottom: 3px solid #30cfd0;
  color: #30cfd0;
  font-family: PoppinsRegular;
}
.input-form label::after{
  content: "";
  position: absolute;
  left: 0px;
  bottom: -4px;
  height: 100%;
  width: 100%;
  border-bottom: 5px solid lightblue;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
}
.content-input{
  position: absolute;
  bottom: 0px;
  left: 0px;
  transition: all 0.3s ease;
  font-size: 23px;
  letter-spacing: 0.8px;
}

.input-form input:focus + .label-input .content-input,
.input-form input:valid + .label-input .content-input{
  transform: translateY(-100%);
  font-size: 20px;
  color: lightblue;
}

.input-form input:focus + .label-input::after,
.input-form input:valid + .label-input::after{
  transform: translateX(0%);
}

//


@-webkit-keyframes animate-svg-stroke-1 {
  0% {
    stroke-dashoffset: 1619.9202165987435px;
    stroke-dasharray: 1619.9202165987435px;
  }
  50%{
      stroke-dashoffset: 409px;
    stroke-dasharray: 409px;
  }
  70%{
      stroke-dashoffset: 200px;
    stroke-dasharray: 200px;
  }
  90%{
      stroke-dashoffset: 70px;
    stroke-dasharray: 70px;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes animate-svg-stroke-1 {
  0% {
    stroke-dashoffset: 1619.9202165987435px;
    stroke-dasharray: 1619.9202165987435px;
  }
  50%{
      stroke-dashoffset: 409px;
    stroke-dasharray: 409px;
  }
  70%{
      stroke-dashoffset: 200px;
    stroke-dasharray: 200px;
  }
  90%{
      stroke-dashoffset: 70px;
    stroke-dasharray: 70px;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

.svg-elem-1 {
  /* -webkit-animation: animate-svg-stroke-1 4s ease-in-out 1s ; */
          animation: animate-svg-stroke-1 4s ease-in-out  ;
}

@-webkit-keyframes animate-svg-stroke-2 {
  0% {
    stroke-dashoffset: 818.2711181640625px;
    stroke-dasharray: 818.2711181640625px;
  }
  50%{
      stroke-dashoffset: 409px;
    stroke-dasharray: 409px;
  }
  70%{
      stroke-dashoffset: 200px;
    stroke-dasharray: 200px;
  }
  90%{
      stroke-dashoffset: 70px;
    stroke-dasharray: 70px;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes animate-svg-stroke-2 {
  0% {
    stroke-dashoffset: 818.2711181640625px;
    stroke-dasharray: 818.2711181640625px;
  }
  50%{
      stroke-dashoffset: 409px;
    stroke-dasharray: 409px;
  }
  70%{
      stroke-dashoffset: 200px;
    stroke-dasharray: 200px;
  }
  90%{
      stroke-dashoffset: 1px;
    stroke-dasharray: 1px;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

.svg-elem-2 {
  /* -webkit-animation: animate-svg-stroke-2 4s ease-in-out 1s ; */
          animation: animate-svg-stroke-2 4s ease-in-out  ;
}
