<main>
  <app-nav-landing></app-nav-landing>
  <div class="perfil-container">

    <!-- 
    Traer la imagen de perfil del usuario

    <img id="imgUsuario" src="{{ url + 'obtenerImagen/' + identidad.imagen }}" />

    Segunda Opcion
    <img id="imgUsuario" src="{{ rutaImagen }}" >
    -->
    <section class="welcome-perfil">

      <img  id="imgUsuario" style="width: 80px;"/>
      <span>Bienvenido {{identidad.nombre}}</span>
    
    </section>

    <aside class="menu-perfil">
      <div class="btn-perfil">

        <a routerLink="/perfil/vista"> Vista General</a>
        <a routerLink="/perfil/editar"> Editar Perfil</a>

      </div>      
    </aside>

    <section class="panel-editar-perfil">
         <router-outlet></router-outlet>
    </section>
 
  </div>

</main>
