@font-face {
    font-family: PoppinsRegular;
    src: url(/assets/font/Poppins-Regular.ttf);
}

@font-face {
    font-family: PoppinsExtraBold;
    src: url(/assets/font/Poppins-ExtraBold.ttf);
}

@font-face {
    font-family: PoppinsSemiBold;
    src: url(/assets/font/Poppins-SemiBold.ttf);
}

@font-face {
    font-family: PoppinsLight;
    src: url(/assets/font/Poppins-Light.ttf);
}

  main{
    width: 100%;
    height: 100vh;
      // background: #95DBE5;
      background-image: linear-gradient(to top, #370574 0%, #0f0022 100%);
  }
  .perfil-container{
    position: absolute;
    /* display: flex;
    justify-content: space-between; */
    left: 50%;
    top: 50%;
    transform: translate(-50%, -45%);
    min-height: 84vh;
    width: 60%;
    display: grid;
    grid-template-areas:
        'welcome_perfil welcome_perfil '
        'menu_perfil editar_perfil ';
    //grid-gap: 10px;
    grid-template-rows: 20% 80% ;
    grid-template-columns: 20% 80% ;
    border-radius: 15px;
    -webkit-box-shadow: 0px 4px 25px 10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 4px 25px 10px rgba(0,0,0,0.57);
    box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0.57);
}
.welcome-perfil{
    grid-area: welcome_perfil;
    display: flex;
    color: #95DBE5;
    align-items: center;
    justify-content: flex-end;
    //border: 1px solid white;
    //background-color: #240050;
    border-radius: 15px 15px 0 0;
    font-family: PoppinsSemiBold;
    font-size: 40px;
    letter-spacing: 1.5px;

    -webkit-box-shadow: inset 0px -20px 58px -55px rgba(0, 0, 0, 0.85);
    -moz-box-shadow: inset 0px -20px 58px -55px rgba(0, 0, 0, 0.85);
    box-shadow: inset 0px -20px 58px -55px rgba(0, 0, 0, 0.85);
}
.menu-perfil{
    grid-area: menu_perfil;
    color: #95DBE5;
    //background-color: #240050;
    border-bottom-left-radius: 15px;
    max-width: 100%;
    //border: 1px solid white;
}
.btn-perfil{
    position: relative;
    top: 4%;
    left: 14%;
    width: 67%;
}

.menu-perfil a{
    display: flex;
    flex-direction: column;
    width: 99%;
    margin-bottom: 30px;
    font-size: 20px;
    font-family: PoppinsSemiBold;
    color: #95DBE5;
    text-decoration: none;
}
.menu-perfil a:hover {
    color: white;
}

.panel-editar-perfil{
    grid-area: editar_perfil;
    -webkit-box-shadow: inset 27px 28px 32px -49px rgba(0, 0, 0, 0.85);
-moz-box-shadow: inset 27px 28px 32px -49px rgba(0, 0, 0, 0.85);
box-shadow: inset 27px 28px 32px -49px rgba(0, 0, 0, 0.85);
    //border: 1px solid white;
    //background-color: rgb(249, 254, 255);
    border-bottom-right-radius: 15px;
 
}

.welcome-container{
    width: 80%;
    height: 100%;
    align-items: center;
    display: grid;
    grid-template-areas:
        'welcome_texto img_user';
    //grid-gap: 10px;
    grid-template-columns: 80% 20% ;
}
.welcome-text{
    grid-area:welcome_texto;
}
.img-user{
    grid-area: img_user;
}