<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administrador</title>
</head>
<body>
    <div class="sidenav">
        <a href="#yellow">*</a>
        <a href="#green">*</a>
        <a href="#blue">*</a>
        <a href="#pink">*</a>
      </div>
      
      <!-- Page content -->
      <div class="main">
        <div class="section yellow" id="yellow">
            <h1> Testing </h1>
        </div>
        <div class="section green" id="green">
            <h1> Testing </h1>
        </div>
        <div class="section blue" id="blue">
            <h1> Testing </h1>
        </div>
        <div class="section pink" id="pink">
            <h1> Testing </h1>
        </div>
      </div>
    
</body>

 
</html>