<div class="vista-container">
    <div class="vista">
        <div class="titulos-vista">
            <p> Usuario:</p>
            <p> Nombre:</p>
            <p> Apellido:</p>
            <p> Correo:</p>
            <p> Contraseña:</p>
            <p> Suscripción:</p>

        </div>
        <div class="datos-vista">
            <p>{{identidad.nick}}</p>
            <p>{{identidad.nombre}}</p>
            <p>{{identidad.apellido}}</p>
            <p>{{identidad.correo}}</p>
            <p>{{identidad.contrasena}}</p>
            <p>{{identidad.tipoSuscripcion}}</p>
        </div>
       

    </div>
    
</div>
