@font-face {
  font-family: PoppinsRegular;
  src: url(/assets/font/Poppins-Regular.ttf);
}

@font-face {
  font-family: PoppinsExtraBold;
  src: url(/assets/font/Poppins-ExtraBold.ttf);
}

@font-face {
  font-family: PoppinsSemiBold;
  src: url(/assets/font/Poppins-SemiBold.ttf);
}

@font-face {
  font-family: PoppinsLight;
  src: url(/assets/font/Poppins-Light.ttf);
}
.vista-container{
    height: 100%;
    width: 100%;

}
.vista{
  display: flex;
  position: relative;
  justify-content: space-around;
  left: 50%;
    top: 50%;
transform: translate(-72%, -50%);
  margin: auto;
  width: 68%;
  height: 80%;
  font-size: 20px;
  
}
.titulos-vista{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.datos-vista{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

}
.vista p{
  font-family: PoppinsSemiBold;
  color:#95DBE5 ;
}
.vista p span{
  font-family: PoppinsSemiBold;
  color: white;
  margin-left: 150px;
}