  <div class="gridSystem">
    <div class="gridSystem__left mt-5 pt-2 ml-5">
        <div class="gridSystem__formNuevo ml-4 mt-5">
              <form class="bg-dark text-light p-3 rounded"> 
                <div class="form-group">
                  <input type="text" class="form-control" id="titulo" placeholder="Titulo" aria-describedby="titulo">
                </div>
                <div class="form-group">
                  <label for="exampleFormControlSelect1">Artista</label>
                   <select class="form-control" id="exampleFormControlSelect1" id="artistas">  <!-- Autofill de artistas -->
                        <option>John Lennon</option> 
                        <option>Mike Miyers</option>
                        <option>Gilberto Santarosa</option>
                      </select>                                          
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" id="generos" placeholder="Genero" aria-describedby="Generos">
                </div>
                <div class="form-group ">
                  <label for="exampleFormControlSelect1">Imagen</label>
                  <input type="file" class="form-control bg-secondary border-0 text-light" id="file"  aria-describedby="file">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" id="disquera" placeholder="Disquera" aria-describedby="Disquera">
                </div>
                <div class="form-group">
                  <div class="row">
                    <div class="col">
                      <input type="text" class="form-control" placeholder="año">
                    </div>
                    <div class="col">
                      <input type="text" class="form-control" placeholder="estado">
                    </div>
                  </div>  
                </div>             
              
                <button type="submit" class="btn btn-success  btn-block">Nuevo album</button>
              </form>
        </div>
        <div class="gridSystem__formEditar ml-4">
          <form class="bg-dark text-light p-3 rounded"> 
            <div class="form-group">
              <input type="text" class="form-control" id="titulo" placeholder="Titulo" aria-describedby="titulo">
            </div>
            <div class="form-group">
              <label for="exampleFormControlSelect1">Artista</label>
               <select class="form-control" id="exampleFormControlSelect1" id="artistas">  <!-- Autofill de artistas -->
                    <option>John Lennon</option> 
                    <option>Mike Miyers</option>
                    <option>Gilberto Santarosa</option>
                  </select>                                          
            </div>
            <div class="form-group">
              <input type="text" class="form-control" id="generos" placeholder="Genero" aria-describedby="Generos">
            </div>
            <div class="form-group">
              <label for="exampleFormControlSelect1">Imagen</label>
              <input type="file" class="form-control bg-secondary border-0 text-light" id="file"  aria-describedby="file">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" id="disquera" placeholder="Disquera" aria-describedby="Disquera">
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col">
                  <input type="text" class="form-control" placeholder="año">
                </div>
                <div class="col">
                  <input type="text" class="form-control" placeholder="estado">
                </div>
              </div>  
            </div>             
          
            <button type="submit" class="btn btn-success  btn-block">Editar album</button>
          </form>
        </div>
    </div>
    <div class="gridSystem__right">
      <h1 class="text-center my-3 text-light">Panel Albumes</h1>
      <div class="px-5">
      <div class="px-5"> 
        <div class="row">
          <div class="col">
              <div class="form-group">
                  <input type="text" name="filterPost" class="form-control" placeholder="Search.." [(ngModel)]="filterPost"> 
              </div>
          </div>
      </div>

      <div>
        <div class="tableFixHead" style=" max-height: 80vh;overflow: auto;">
        <table 
        class="table table-striped table-light rounded border border-secondary table-hover col-12 container-fluid">
          <thead>
              <tr class="text-light">
                  <th>Album</th>
                  <th>Artista</th>                  
                  <th>Genero</th>
                  <th>Imagen</th>
                  <th>Disquera</th>
                  <th>Año</th>                  
                  <th>estado</th>
                  <th>Actions</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let album of albumes | filter:filterPost">
                
                  <td>{{album.nombre}}</td>
                  <td>{{album.idArtista.nombre}}</td>
                  <td>{{album.genero}}</td>
                  <td>{{album.imagen}} </td>
                  <td>{{album.disquera}}</td>
                  <td>{{album.anio}}</td>                  
                  <td>{{album.estado}}</td>
                  <td>
                    <button type="button" class="btn btn-info btn-block mx-1"> Edit </button>
                    <button type="button" class="btn btn-warning btn-block mx-1"> Off </button>
                    <button type="button" class="btn btn-danger btn-block mx-1">Delete</button>                    
                  </td>                                 
              </tr>
          </tbody>
      </table>
    </div>
    </div>
      </div>
    </div>
    </div>
</div>