<div id="container">

    <div class="navBarRepro">
        <div class="burgerNav">
            <p>burger</p>
        </div>
        <div class="logo">
            <p>logo</p>
        </div>
        <div class="buscarNav">
            <p>lupa</p>
        </div>
    </div>

    <div class="navBar">
        <div class="logo">
            <p>logo</p>
        </div>
        <div class="rutasNavBar">
            <p>rutas</p>
        </div>
    </div>

    <div class="contenidoMixto">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Asperiores recusandae unde laboriosam aut tempora
            ab debitis rerum beatae sapiente quae eos dolores autem consectetur, sed nihil doloremque porro dicta.
            Natus?Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ratione, facilis incidunt quae aliquid,
            commodi fuga ea saepe, repellendus corporis quasi quis recusandae aut nemo. Error impedit nihil repudiandae
            sint velit!Loreml
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis deleniti velit fugit officiis odit unde vel
            possimus corporis dignissimos cum, explicabo vero labore non error voluptate expedita magnam deserunt
            voluptatibus.l
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Natus similique rem tempora. Debitis amet
            consequatur laboriosam odio vero rem velit nihil sequi at id fugit unde, iure et est quaerat?
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatibus cumque quaerat quae facilis at, rem
            modi, tempora ea dignissimos eveniet accusamus aspernatur itaque! Consequatur suscipit nulla iste nisi
            tempora reiciendis.
        </p>
    </div>

    <div class="controlReproductor">
        <div class="controlCover">
            <p>cover</p>
        </div>
        <div class="controlBotones">
            <div class="tituloCancion">
                <p id="cancionRep">Cancion</p>
                <p id="artistaRep">Artista</p>
            </div>
            <div class="botones">
                <img id="backward" src="../../../assets/img/backward.png" alt="backward">
                <img id="play" src="../../../assets/img/play.png" alt="backward">
                <img id="forward" src="../../../assets/img/forward.png" alt="backward">
            </div>
        </div>
        <div class="controlVolumen">
            <img id="volumen" src="../../../assets/img/speaker.png" alt="">
        </div>
    </div>

</div>

<audio src=""></audio>

<app-albums-reproductor></app-albums-reproductor>

<app-varios-reproductor></app-varios-reproductor>

