@font-face {
    font-family: PoppinsRegular;
    src: url(/assets/font/Poppins-Regular.ttf);
}

@font-face {
    font-family: PoppinsExtraBold;
    src: url(/assets/font/Poppins-ExtraBold.ttf);
}

@font-face {
    font-family: PoppinsSemiBold;
    src: url(/assets/font/Poppins-SemiBold.ttf);
}

@font-face {
    font-family: PoppinsLight;
    src: url(/assets/font/Poppins-Light.ttf);
}

body {
    margin: 0;
    padding: 0; 
}

@media only screen and (min-width: 600px) {
    
    #container {
        height: 100vh;
        width: 100vw;
        display: grid;
        background-color: #E1E1E8;
        grid-template-columns: 0.4fr 2fr;
        grid-template-rows: 2fr 0.4fr;
        grid-template-areas: 
        "navbar     contenido"
        "repro      repro    ";
    }

    .navBar {
        grid-area: navbar;
        display: grid;
        background-color: #25054d8c;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "logo"
        "rutas";
    }

    .logo {
        grid-area: logo;
        place-self: center;
    }

    .rutasNavBar {
        grid-area: rutas;
        place-self: auto;
        display: grid;
        grid-template-columns: 0.2fr 1fr 0.2fr;
        grid-template-rows: repeat(4, 1fr);
        grid-template-areas: 
        ".      home        ."
        ".      canciones        ."
        ".      artistas        ."
        ".      albumes        .";
    }

    .rutasNavBar a {
        text-align: center;
        letter-spacing: 0.15em;
        color: #FFFFFF;
        font-family: PoppinsSemiBold;
        font-size: 25px;
        text-decoration: none;
    }

    #homeRutas {
        grid-area: home;
    }

    #cancionesRutas {
        grid-area: canciones;
    }

    #artistasRutas {
        grid-area: artistas;
    }

    #albumesRutas {
        grid-area: albumes;
    }

    .contenidoMixto {
        grid-area: contenido;
        //display: grid;
    }

    .controlReproductor {
        grid-area: repro;
        display: grid;
        background-color: #25054D;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        grid-template-areas: "botones   cover   vol";
    }

    .controlBotones {
        display: none;
    }

    .controlCover {
        display: none;    
    }

    .navBarRepro {
        display: none;
    }

    .controlBotonesDesktop {
        grid-area: botones;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas: 
        ".   .   ."
        ".   buttons   ."
        ".   .   .";
    }

    .desktopButtons {
        display: grid;
        grid-area: buttons;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        grid-template-areas: 
        "backward   play   forward";
    }

    #backwardDesk {
        grid-area: backward;
        place-self: center;
        width: 50%;
    }

    #playDesk {
        grid-area: play;
        place-self: center;
        width: 50%;
    }

    #forwardDesk {
        grid-area: forward;
        place-self: center;
        width: 50%;
    }

    

    .controlVolumen {
        grid-area: vol;
        place-self: center;
    }

    #volumen {
        width: 150%;
    }

    .controlCoverDesktop {
        display: grid;
        grid-area: cover;
        grid-template-columns: 0.4fr 0.6fr 1fr;
        grid-template-rows: repeat(4, 1fr);
        grid-template-areas: 
        ".  album  ."
        ".  album  desc"
        ".  album  desc"
        ".  album  .";
    }

    .coverDesk {
        grid-area: album;
        display: grid;
        grid-template-columns: 0.3fr 1fr 0.3fr;
        grid-template-rows: 0.2fr 1fr 0.2fr;
        grid-template-areas: ". . ."
        ". cover ."
        ". . .";
    }

    .imagenAlbumDesk {
        grid-area: cover;
        background-color: #fff;
    }

    .tituloCancionDesk {
        grid-area: desc;
        place-self: start;
    }

    #cancionRep {
        font-family: PoppinsSemiBold;
        color: #fff;
        font-size: 30px;
        text-align: left;
        letter-spacing: 0.06em;
    }

    #artistaRep {
        font-family: PoppinsRegular;
        color: #fff;
        font-size: 20px;
        text-align: left;
        letter-spacing: 0.06em;
    }

}

@media only screen and (max-width: 500px) {
    #container {
        height: auto;
        width: 100vw;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        grid-template-areas: 
        "contenido  contenido   contenido";
    }

    .navBar {
        display: none;
    }

    .navBarRepro {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 60px;
        grid-template-areas: ".    logo    burger";
        background-color: #25054D;
        width: 100%;
        box-sizing: border-box;
        z-index: 1;
        position: fixed;

    }

    .burgerNav {
        grid-area: burger;
    }

    .logo {
        grid-area: logo;
        place-self: center;
        
    }

    .controlBotonesDesktop {
        display: none;
    }

    .controlCoverDesktop {
        display: none;
    }

    .contenidoMixto {
        display: grid;
        background-color: #E1E1E8;
        grid-area: contenido;
        font-family: PoppinsRegular;
        font-size: 30px;
    }

    .controlReproductor {
        display: grid;
        grid-template-columns: 0.5fr 1fr 0.5fr;
        grid-template-rows: 120px;
        grid-template-areas: 
        "cover boton vol";
        background-color: #25054D;
        width: 100%;
        box-sizing: border-box;
        z-index: 1;
        position: fixed;
        left: 0;
        bottom: 0;
    }

    .controlCover {
        grid-area: cover;
        display: grid;
        grid-template-columns: 0.3fr 1fr 0.3fr;
        grid-template-rows: 0.4fr 0.6fr 0.4fr;
        grid-template-areas: ". . ."
        ". cover ."
        ". . .";
    }

    .imagenCover {
        grid-area: cover;
        background-color: #fff;
    }
    
    .controlBotones {
        grid-area: boton;
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas: 
        "tituloCancion tituloCancion tituloCancion tituloCancion"
        "botones botones botones botones";
    }
    
    .tituloCancion {
        grid-area: tituloCancion;
        place-self: center;
        font-family: PoppinsRegular;
        color: #fff;
    }

    #artistaRep {
        font-family: PoppinsRegular;
        color: #fff;
        font-size: 15px;
        text-align: center;
    }

    #cancionRep {
        font-family: PoppinsSemiBold;
        color: #fff;
        font-size: 20px;
        text-align: center;
    }

    .botones {
        display: grid;
        grid-area: botones;
        grid-template-columns: repeat(3, 1fr);
        padding-bottom: 5%;

    }

    #backward {
        display: grid;
        place-self: center;
    }

    #play {
        display: grid;
        place-self: center;
    }

    #forward {
        display: grid;
        place-self: center;
    }
    
    .controlVolumen {
        grid-area: vol;
        place-self: center;
    }
}

