<div class="gridSystem">
  <div class="gridSystem__left mt-5 pt-2 ml-5">
      <div class="gridSystem__formNuevo ml-4 mt-5" *ngIf="!trackEditar">
            <form class="bg-dark text-light p-3 rounded" #formularioNuevaCancion="ngForm" (ngSubmit)="addCancion()"> 
              <div class="form-group">
                <label for="exampleFormControlSelect1">Cancion</label>
                <input type="text" class="form-control"  placeholder="Titulo" name="nombre" #nombre="ngModel" [(ngModel)]="track.nombre">
              </div>
              <div class="form-group">
                <label>Artista</label>
                 <select class="form-control" name="idArtista" #idArtista="ngModel" [(ngModel)]="track.idArtista">  <!-- Autofill de artistas -->
                    <option *ngFor="let artista of artistas" value="{{artista._id}}">{{artista.nombre}}</option>                 
                    </select>                                          
              </div>
              <div class="form-group">
                <label>Album</label>
                 <select class="form-control" name="idAlbum" #idAlbum="ngModel" [(ngModel)]="track.idAlbum">  <!-- Autofill de artistas -->
                      <option *ngFor="let album of albumes" value="{{album._id}}">{{album.nombre}}</option> 
                    </select>                                          
              </div>  
              <div class="form-group">
                <label>Duracion</label>
                <input type="number" class="form-control" placeholder="timelapse" name="duracion" #duracion="ngModel" [(ngModel)]="track.duracion">
              </div>   
              <div class="form-group ">
                <label >File</label>
                <input type="file" class="form-control bg-secondary border-0 text-light" aria-describedby="file">
              </div>           
              <div class="form-group">                
                <label>Estado</label>
                <select class="form-control"  name="estado" #estado="ngModel" [(ngModel)]="track.estado"> 
                     <option>activo</option> 
                     <option>inactivo</option>
                   </select>                     
              </div>                         
              <button type="submit" class="btn btn-success  btn-block">Nueva cancion</button>
            </form>
      </div>
      <div class="gridSystem__formEditar ml-4 top_gap" *ngIf="trackEditar">
        <form class="bg-dark text-light p-3 rounded" #formularioEditarCancion="ngForm" (ngSubmit)="addCancion()"> 
          <div class="form-group">
            <label for="exampleFormControlSelect1">Cancion</label>
            <input type="text" class="form-control"  placeholder="Titulo" name="nombre" #nombre="ngModel" [(ngModel)]="trackEditar.nombre">
          </div>
          <div class="form-group">
            <label>Artista</label>
             <select class="form-control" name="idArtista" #idArtista="ngModel" [(ngModel)]="trackEditar.idArtista">  <!-- Autofill de artistas -->
          
         <option *ngFor="let artista of artistas" value="{{artista._id}}">{{artista.nombre}}</option>    
                  
             </select>                                           
          </div>
          <div class="form-group">
            <label>Album</label>
             <select class="form-control" name="idAlbum" #idAlbum="ngModel" [(ngModel)]="trackEditar.idAlbum">  <!-- Autofill de artistas -->
                 
                <option *ngFor="let album of albumes" value="{{album._id}}">{{album.nombre}}</option> 
                </select>                                          
          </div>  
          <div class="form-group">
            <label>Duracion</label>
            <input type="number" class="form-control" placeholder="timelapse" name="duracion" #duracion="ngModel" [(ngModel)]="trackEditar.duracion">
          </div>   
          <div class="form-group ">
            <label >File</label>
            <input type="file" class="form-control bg-secondary border-0 text-light" aria-describedby="file">
          </div>           
          <div class="form-group">                
            <label>Estado</label>
            <select class="form-control"  name="estado" #estado="ngModel" [(ngModel)]="trackEditar.estado"> 
                 <option>activo</option> 
                 <option>inactivo</option>
               </select>                     
          </div>                         
          <button type="submit" class="btn btn-success  btn-block">Editar cancion</button>
        </form>
      </div>
  </div>
  <div class="gridSystem__right">
    <h1 class="text-center my-3 text-light">Panel Canciones</h1>
    <div class="px-5">
    <div class="px-5"> 
      <div class="row">
        <div class="col">
            <div class="form-group">
                <input type="text" name="filtercancion" class="form-control" placeholder="Search.." [(ngModel)]="filterPost"> 
            </div>
        </div>
    </div>

    <div class="tableFixHead" style=" max-height: 80vh;overflow: auto;">
      <table class="table table-striped table-light rounded border border-secondary table-hover col-12 container-fluid">
        <thead class="text-light">
            <tr>
                <th>Cancion</th>
                <th>Artista</th>                  
                <th>Album</th>  
                <th>Duracion</th>                 
                <th>Archivo</th>                 
                <th>Estado</th>              
                <th>Actions</th>
            </tr>
        </thead>
          <tbody >
            <tr *ngFor="let cancion of canciones | filter:filterPost">
                <td>{{cancion.nombre}}</td>
                <td>{{cancion.idArtista.nombre}}</td>
                <td>{{cancion.idAlbum.nombre}}</td>                              
                <td>{{cancion.duracion}}</td>                              
                <td>{{cancion.archivoAudio}}</td>                                                       
                <td>{{cancion.estado}}</td>
                <td>
                  <button type="button" class="btn btn-info  btn-block mx-1" (click)="setTrackEditar(cancion)"> Edit </button>
                  <button type="button" class="btn btn-warning btn-block mx-1" (click)="mutearCancion(cancion)"> Off </button>
                  <button type="button" class="btn btn-danger btn-block mx-1" (click)="deleteCancion(cancion)" >Delete</button>                    
                </td>                                 
            </tr>
        </tbody>

       
        
    </table>
  </div>
    </div>
  </div>
  </div>
</div>