.form-container{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -35%);
    height: 70vh;
    width: 60vh;

}
form{
  display: flex;
  margin: auto;
  width: 80%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  
}
.input-form{
  position: relative;
  overflow: hidden;
  height: 5vh;
  width: 70%;
}
.input-form input {
  width: 100%;
  height: 100%;
  padding-top: 20px;
  border: none;
  outline: none;
}
.input-form label{
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-bottom: 1px solid black;
}
.input-form label::after{
  content: "";
  position: absolute;
  left: 0px;
  bottom: -2px;
  height: 100%;
  width: 100%;
  border-bottom: 3px solid blue;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
}
.content-input{
  position: absolute;
  bottom: 0px;
  left: 0px;
  transition: all 0.3s ease;
  font-size: 20px;
}

.input-form input:focus + .label-input .content-input,
.input-form input:valid + .label-input .content-input{
  transform: translateY(-150%);
  font-size: 17px;
  color: blue;
}

.input-form input:focus + .label-input::after,
.input-form input:valid + .label-input::after{
  transform: translateX(0%);
}