.albumes-container{
    max-height: 82vh;
    overflow: scroll;
}
.panel-albumes{
    width: 100%;
    height: 50px;
    margin: auto;
    display: flex;
    align-items: center;
    z-index: 1;
    position: sticky;
    top: -1px;
    background: #140328;
    color: white;
    justify-content: space-around;
    font-family: PoppinsSemiBold;
    letter-spacing: 0.5px;
}
.album-card {
     display: grid;
    grid-auto-rows: auto;
    row-gap: 57px;
    grid-auto-flow: row dense;
    width: 87%;
    margin: auto;
    margin-top: 35px; 
  }
  .buscador input{
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
    font-family:PoppinsLight;
    border: 1px solid white;
    padding: 3px;
    border-radius: 5px;
}
::placeholder{
    color: white;
    font-family:PoppinsLight;
    font-size: 15px;
}
  .album-card__item {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  .img-album{
      display: flex;
      justify-content: center;
  }

  .img-album img{
      width: 83%;
      cursor: pointer;
      opacity: 0.7;
      transition: all 0.3s ease-in-out;
      height: 29vh;
  }

  .img-album img:hover{
      opacity: 1;
}
.back-btn{
    height: 6vh;
    display: flex;
    align-items: center;
}
.back-btn button{
    width: 7%;
    margin-left: 5vh;
    border-radius: 15px;
    height: 80%;
    cursor: pointer;
    background-color: #30cfd0;
    color: #330867;
    outline: none;
    border: none;
    font-family: PoppinsSemiBold;
    font-size: 20px;
    transition: all 0.2s ease-in-out;
  }
  button:hover{
    transform: scale(1.05);
    
  }

.img-album-details{
    display: flex;
    justify-content: center;
    width: 50vh;
    margin: auto;
    margin-bottom: 30px;
}
.img-album-details img{
    border-radius: 5px;
    max-height: 500px;
}

.info-album-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
p{
    //color: lightblue;
    color: white;
    font-family: PoppinsSemiBold;
    font-size: 15px;
}
p span{
    color: lightblue;
}
h2{
    color: #30cfd0;
    font-family: PoppinsSemiBold;
    font-size: 27px;
}
.bio-artista{
    width: 50%;
    text-align: justify;
}
  
  @media all and (min-width: 320px) {
    .album-card {
      grid-template-columns: repeat(1, 1fr);
    }
  }
  
  @media all and (min-width: 768px) {
    .album-card {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  
  @media all and (min-width: 1024px) {
    .album-card {
      grid-template-columns: repeat(4, 1fr);
    }
  }
  
  